<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dreamstart.mapper.BoardMapper">

 	<resultMap type="BoardPostDTO" id="boardPostMap">
 	<id column="" property=""/>
 	<result column="" />
 	</resultMap>
 	<resultMap type="BoardCommentDTO" id="boardCommentMap">
 	</resultMap>

	<select id="eventAll" resultMap="eventMap">
		select * from `event`
	</select>
	
	
</mapper>