<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dreamstart.mapper.EventMapper">
 	<resultMap type="EventDTO" id="eventMap">
 		<id column="event_id" property="eventId" />
 		<result column="title" property="title" />
 		<result column="description" property="description" />
 		<result column="location" property="location" />
 		<result column="start_date" property="startDate" />
 		<result column="end_date" property="endDate" />
 		<result column="capacity" property="capacity" />
 		<result column="status" property="status" />
 		<result column="visibility" property="visibility" />
 		<result column="poster_url" property="posterUrl" />
 		<result column="created_by" property="createdBy" />
 		<result column="created_at" property="createdAt" />
 		<result column="updated_at" property="updatedAt" />
 		<result column="is_paid" property="isPaid"/>
 		<result column="price" property="price"/>
 		<result column="currency" property="currency"/>
 		<result column="category" property="category"/>
 	</resultMap>

	<!-- 이벤트 페이징 -->
	<select id="list" resultMap="eventMap">
		select * 
		from `event_erp`.`event` 
		order by `event_id` DESC
		limit #{cri.pageStart},#{cri.perPageNum}
	</select>
	
	<!-- 드롭다운용 : 이벤트 전체조회 -->
	<select id="eventAll" resultMap="eventMap">
		select
			`event_id`, `title`, `description`, `location`, 
			`start_date`, `end_date`, `capacity`, `status`, 
			`visibility`, `created_by`, 
			`created_at`, `updated_at`, 
			`is_paid`, `price`, `currency`, `category`
		from `event_erp`.`event`
		order by `start_date` desc
	</select>
	
	<!-- 신규등록 -->
	<insert id="insert" parameterType="EventDTO"
			useGeneratedKeys="true" keyProperty="eventId" keyColumn="event_id">
		insert into event_erp.`event`
			(`title`, `description`, `location`, `start_date`, `end_date`, 
			`capacity`, `status`, `visibility`, `poster_url`, `created_by`, 
			`created_at`, `updated_at`, `is_paid`, `price`, `currency`, `category`)
		values
			(#{title}, #{description}, #{location}, 
			<!-- datetime_local -> DATETIME 변환 -->
			STR_TO_DATE(#{start_date}, '%Y-%m-%dT%H:%i'),
			STR_TO_DATE(#{end_date}, '%Y-%m-%dT%H:%i'),
			#{capacity}, #{status}, #{visible}, #{posterUrl},
			#{createBy}, NOW(), NOW(),
			#{isPaid}, #{price}, #{currency}, #{category})
	</insert>
	
	<!-- 이벤트 아이디로 조회 -->
	<select id="findById" parameterType="long" resultMap="eventMap">
		select 
			e.`event_id`, e.`title`, e.`description`, e.`location`,
			e.`start_date`, e.`end_date`, e.`capacity`,
			e.`status`, e.`visibility`, e.`poster_url`,
			e.`is_paid` as is_paid,
			e.`price`, e.`currency`, e.`category`
		from `event_erp`.`event` e
		where e.`event_id` = #{eventId}
		limit 1
	</select>
	
	<!-- 이벤트 종료 시각 조회 -->
	<select id="findEndDateByEventId" parameterType="long" resultType="java.time.LocalDateTime">
		select e.`end_date`
		from `event_erp`.`event` e
		where e.`event_id` = #{eventId}
		limit 1
	</select>
</mapper>
