<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dreamstart.mapper.PaymentMapper">
	<resultMap type="PaymentDTO" id="paymentMap">
		<id column="user_id" property="paymentId" />
		<result column="reservation_id" property="reservationId" />
		<result column="amount" property="amount" />
		<result column="method" property="method" />
		<result column="status" property="status" />
		<result column="paid_at" property="paidAt" />
		<result column="cancelled_at" property="cancelledAt" />
		<result column="refund_amount" property="refundAmount" />
		<result column="approve_no" property="approveNo" />
		<result column="pg_tid" property="pgTid" />
		<result column="memo" property="memo" />
		<result column="created_at" property="createdAt" />
	</resultMap>

	<select id="list" resultMap="paymentMap">
		select * from `payment` order by `payment_id` desc
	</select>

	<insert id="insert" parameterType="paymentDTO">
		insert into `payment` (
		`reservation_id`, `amount`, `method`, `status`, `paid_at`,
		`approve_no`,
		`pg_tid`, `memo`, `created_at`
		) VALUES (
		#{reservationId}, #{amount}, #{method}, #{status},
		#{paidAt},
		#{approveNo}, #{pgTid}, #{memo}, now()
		)
	</insert>



</mapper>
