<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dreamstart.mapper.UserMapper">
	<!-- UserDTO UserRoleDTO RoleDTO -->
	<!-- 회원 정보 -->
	<resultMap type="UserDTO" id="userMap">
		<id column="user_id" property="userId" />
		<result column="username" property="userName" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="last_login_at" property="lastLoginAt" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="is_active" property="isActive" />
	</resultMap>

	<!-- 회원권한 -->
	<resultMap type="UserRoleDTO" id="userRoleMap">
		<id column="user_id" property="userId" />
		<id column="role_id" property="roleId" />
		<result column="assigned_at" property="assignedAt" />
	</resultMap>

	<!-- 권한 -->
	<resultMap type="RoleVO" id="roleMap">
		<id column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
	</resultMap>

	<!-- 관리자 - 회원 전체 목록 + 페이징 -->
	<select id="list" resultMap="userMap">
		select *
		from `user`
		order by `user_id` desc
		limit
		#{cri.pageStart},#{cri.perPageNum}
	</select>
	
	<!-- 회원 수 조회 -->
	<select id="count" resultType="int">
		select count(*) from `user`
	</select>
	
	<!-- 회원가입시 생성되는 user_id 키 값 -> dto.getUserId() -->
	<insert id="join" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="userId">
		insert into `user` 
		(`username`,`password`,`name`,`email`,`created_at`,`is_active`) 
		values(#{userName},#{password},#{name},#{email},now(),1)
	</insert>
	<!-- 회원가입시 일반회원 권한 부여 -->
	<insert id="joinRole" parameterType="long">
		insert into `user_role` values (#{userId},0,now())
	</insert>

</mapper>
