<configuration debug="true">
	<!-- ★ 네 PC 절대경로로 바꿔 -->
	<property name="LOG_DIR" value="${APP_LOG_DIR}" />


	<!-- 내부 상태 메시지를 콘솔에 찍음: 어떤 설정/파일이 로딩됐는지 확인용 -->
	<statusListener
		class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="INFO_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/info.txt</file>
		<append>false</append> <!-- 재실행 시 비움 -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="WARN_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/warn.txt</file>
		<append>false</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/error.txt</file>
		<append>false</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 선택: 요약 전용 -->
	<appender name="DB_SUMMARY_FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/test-db-summary.txt</file>
		<append>false</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="db.summary" level="INFO" additivity="false">
		<appender-ref ref="DB_SUMMARY_FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="INFO_FILE" />
		<appender-ref ref="WARN_FILE" />
		<appender-ref ref="ERROR_FILE" />
	</root>
</configuration>
