<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="kr.co.dreamstart.dto.AdminActionLogDTO" alias="AdminActionLogDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.BoardCommentDTO" alias="BoardCommentDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.BoardPostDTO" alias="BoardPostDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.CloneInlineReqDTO" alias="CloneInlineReqDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.EventDTO" alias="EventDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.FileAssetDTO" alias="FileAssetDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.PaymentDTO" alias="PaymentDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.ReservationDTO" alias="ReservationDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.SurveyAnswerDTO" alias="SurveyAnswerDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.SurveyDTO" alias="SurveyDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.SurveyOptionDTO" alias="SurveyOptionDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.SurveyQuestionDTO" alias="SurveyQuestionDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.SurveyResponseDTO" alias="SurveyResponseDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.UserDTO" alias="UserDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.UserRoleDTO" alias="UserRoleDTO"/>
	<typeAlias type="kr.co.dreamstart.dto.RoleVO" alias="RoleVO"/>
	<typeAlias type="kr.co.dreamstart.dto.GuestDTO" alias="GuestDTO"/>
</typeAliases>
</configuration>